---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
//import { getCollection } from "astro:content";
//import createSlug from "../lib/createSlug"

//const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

//const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <!-- <div class="text-xl py-1">Hey there 👋</div> -->
    <div class="text-5xl font-bold">Quentin Le Lan</div>
    <div class="text-3xl py-3 font-bold">Software Engineer & Entrepreneur</div>
    <div class="py-2">
      <text class="text-lg">
        Bienvenue sur mon site où vous pouvez trouver tous mes projets, mes services ainsi que mon CV. N'hésitez pas à me contacter pour plus d'informations.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="/cv"> Mon CV</a>
      <a href="/services" class="btn btn-outline ml-5">
        Mes services
      </a>
      <a class="btn ml-5" href="/projects"> Mes projets</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Mes derniers projets {"</>"}</div>
  </div>
  <HorizontalCard
  title="Letterboxd analysis"
  img=""
  desc="Site web permettant de visualiser des données sur son profil Letterboxd (application pour noter les films)."
  url="https://letterboxd-analysis.streamlit.app/"
  badge="NEW, Python, data, Plotly, Streamlit"
/>
<div class="divider my-0"></div>
  <HorizontalCard
  title="FrenchRapAnalyzer"
  img=""
  desc="Site web permettant de visualiser certaines données sur le rap français parmis + de 700 artistes."
  url="https://french-rap-analyzer.streamlit.app/"
  badge="Python, data, Plotly, Streamlit"
/>
<div class="divider my-0"></div>
  <HorizontalCard
    title="FrenchRapLyricsAnalyzer"
    img=""
    desc="Création d'un dataset de paroles de rap français depuis Genius, puis analyse de ces paroles pour en extraire des informations sur les artistes et les mots les plus utilisés. Le tout en python."
    url="https://github.com/MariusLD/FrenchRapLyricsAnalyzer"
    badge="Python, Data"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="WebApp messagerie / DevOps"
    img=""
    desc="Création d'une application web avec API pour la gestion de membre et d'évenement. Ajout d'une messagerie RabbitMQ, le tout en mettant en place des bonnes pratiques et des outils de DevOps."
    url="https://github.com/ExodusG/projetAL"
    badge="Web, DevOps, Docker,Angular, NestJs"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="ES Plescop SBF"
    img="/logo.png"
    desc="Création d'un site web responsive pour l'association sportive ES Plescop SBF, gestion de référencement naturel et création d'une fiche Google."
    badge="NEW"
    url="https://www.es-plescop-sbf.fr/"
  />

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div> -->

  <!-- {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
</BaseLayout>
